{{extend 'layout.html'}}
{{"""

You should not modify this file. 
It is used as default when a view is not provided for your controllers

"""}}

{{if len(response._vars)==1:}}
<h2>Character Query</h2>
        {{=form}}
        {{else:}}
<h2>{{=name}}</h2>
{{=IMG(_src='https://image.eveonline.com/Character/{0:d}_256.jpg'.format(id), _alt='character portrait')}}
{{=P(race, ' ', bloodline)}}
        {{if secstatus < -5.0:}}
        {{color='red'}}
        {{elif secstatus < 0.0:}}
        {{color='orange'}}
        {{elif secstatus >= 0.0:}}
        {{color='black'}}
        {{else:}}
        {{color ='green'}}
        {{pass}}
<P>Security status : <SPAN style="color: {{=color}}">{{='{0:4.2f}'.format(secstatus)}}</SPAN></P>
        <H2>Next Character Query</H2>
        {{=form}}
        {{pass}}