{{extend 'layout.html'}}
{{"""

You should not modify this file.
It is used as default when a view is not provided for your controllers

"""}}

<H2>Character Information updates</H2>
        <table>
            <tr><td>Characters updated</td>{{=numchars}}</tr>
            <tr><td>Character Employment End dates calculated</td><td>{{=numemploymens}}</td></tr>
        </table>