{{extend 'layout.html'}}
{{"""

You should not modify this file.
It is used as default when a view is not provided for your controllers

"""}}

<h2>{{=corpname}}</h2>
{{if len(response._vars)>1:}}
<h3>{{=corpticker}}</h3>
        {{=IMG(_src='https://image.eveonline.com/Corporation/{0:d}_128.png'.format(corpid), _alt='Corporation logo')}}
<h3>Members</h3>
        {{=LOAD('corporation','memberlist', args=corpid, extension='load')}}
{{pass}}